{% extends 'main.html' %}
  {% block content %}
    <center>
        <div class="change">
           <div class="change-t">
             <h1>Change Password Here</h1>
           </div>

        
            {% if oldpassword_notmatch %}
                        <h2 style="color: red;">Old password not match !!! please enter again </h2>
            {% endif %}


        <form action="" method="POST">
            {% csrf_token %}

            {% if oldpassword_match %}
            <label for="" style="color: rgb(81, 134, 0);">Enter New Password</label>
            <input type="password" name="newpassword" id=""> <br>

            {% else %}
            <label for="" >Enter Old Password</label>
            <input type="password" name="oldpassword" id=""> <br>

            {% endif %}

            <input type="submit" name="" value="login">

        </form>
        </div>
    </center>
    {% endblock content %}