{% extends  'main.html' %}

{% block content %}

 <center>
    <div class="register">
       <div class="t1">
         <h2> Register Now...</h2><br>
       </div>
         <form action="" method="POST">
            {% csrf_token %}
            <label for="">FirstName</label>
            <input type="text" name="firstname"><br><br>

            <label for="">LastName</label>
            <input type="text" name="lastname"><br><br> 

            <label for="">Email</label>
            <input type="email" name="email"><br><br>

            <label for="">UserName</label>
            <input type="text" name="username"><br><br>

            <label for="">Password</label>
            <input type="password" name="password"><br><br>

            <input type="submit" value="Register">
            
         </form>
    </div>
 </center>
 

{% endblock content %}